.toy-card{
	margin-bottom: 50px;

	.toy-card-inner{
		box-shadow: 1px 2px 10px #ddd;
		height: 350px;
		padding: 20px;
	}

	.thumbnail-image{
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: auto 100%;
		cursor: pointer;
		height: 150px;		
	}

	h5{
		cursor: pointer;
	}
}