<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="logo pull-left"><a href="#">Toy Tracker</a></div>
            <div class="main-nav pull-right hidden-xs">
                <ul>
                    <li><a href="#/search">Search</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">My Toys</a></li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>