<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="logo pull-left"><a href="#/home"><img class="robot" src="./dist/img/robot.svg" alt="">Toy Tracker</a></div>
            <div class="main-nav pull-right" ng-controller="NavController">
                <ul ng-show="loggedIn nav-links">
                    <li><a href="#/search">Search</a></li>
                    <li><a href="#/wishlist">Wishlist</a></li>
                    <li><a href="#/my-toys">My Toys</a></li>
                    <li><a href="#/dashboard">Dashboard</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>