<div class="col-xs-12 col-sm-6 col-md-4 toy-card" ng-repeat="toy in toys">
	<span ng-show="wishlistService.addingToy">Adding!</span>
	<div class="toy-card-inner">
		<div class="thumbnail-image" style="background: url('{{toy.thumbnailImage}}');" ng-if="toy.thumbnailImage"></div>
		<h5><b>{{toy.name}}</b></h5>
		<b>${{toy.salePrice}}</b>
		<br>
		<img class="customer-rating-image" src="{{toy.customerRatingImage}}" alt="">
		<br>
		<button ng-click="addToWishlist(toy.name, toy.salePrice, true, toy.thumbnailImage, toy.customerRatingImage ? toy.customerRatingImage : null)" class="secondary"><i class="fa fa-plus"></i> Add to Wishlist</button>
		<button class="primary"><i class="fa fa-check"></i> Have it!</button>
	</div>
</div>