<div ng-hide="wishlist.length">
	<h2>Go to the Search page and find some toys for your wishlist!</h2>
</div>
<div ng-show="wishlist.length" class="col-xs-12 col-sm-6 col-md-4 toy-card" ng-repeat="(id, toy) in wishlist">
	<div class="toy-card-inner">
		<div ng-if="toy.thumbnailImage" class="thumbnail-image" style="background: url('{{toy.thumbnailImage}}');"></div>
		<h5><b>{{toy.name}}</b></h5>
		<b>${{toy.price}}</b>
		<br>
		<img src="{{toy.reviewImage}}" alt="" ng-if="toy.reviewImage">
		<br>
		<button ng-click="addToMyToys(toy.name, toy.price, toy.itemId, toy.thumbnailImage, toy.customerRatingImage ? toy.customerRatingImage : null, id)" class="btn-success">Have it!</button>
		<button ng-click="removeFromWishlist(id)" class="btn-danger"><i class="fa fa-close"></i> Remove from Wishlist</button>
	</div>
</div>


<div class="adding got-it" ng-class="{'in': haveToy}" ng-show="haveToy">
	<h4><i class="fa fa-cog fa-spin fa-fw"></i> You got it! Awesome!</h4>
</div>