.header{
	height: 120px;
	background: $primary;

	@media(min-width: 534px){
		height: $navbar-height;
	}

	.navbar{
		height: $navbar-height;
		margin: 0;
	
		.logo{
			height: $navbar-height;
			a{
				@include vertical-align-element();
				color: white;
				font-size: 1.75em;
				font-weight: bold;
				letter-spacing: -2px;

				&:hover{
					text-decoration: none;
				}
			}

			.robot{
				height: 40px;
    			margin-right: 5px;
    			margin-top: -5px;
			}
		}

		.main-nav{
			@media(min-width: 534px){
				height: 100%;
			}

			@media(max-width: 533px){
				float: left !important;

				ul{
					margin-top: 15px;

					li{
						margin-left: 0;
						margin-right: 15px;
					}
				}
					
			}

			ul{
				@include vertical-align-element();
				margin-bottom: 0;
				padding-left: 0;

			}

			li{
				display: inline-block;
				margin-left: 20px;
				text-align: right;

				a{
					color: white;
				}
			}
		}
	}
}