.header{
	background: $primary;
	height: $navbar-height;

	.navbar{
		height: $navbar-height;
		margin: 0;
		
		.logo{
			height: $navbar-height;
			a{
				@include vertical-align-element();
				color: white;
				font-size: 1.75em;

				&:hover{
					text-decoration: none;
				}
			}
		}

		.main-nav{
			height: 100%;

			ul{
				@include vertical-align-element();
				margin-bottom: 0;
			}

			li{
				display: inline-block;
				margin-left: 20px;
				text-align: right;

				a{
					color: white;
				}
			}
		}
	}
}