//////////////////////////////////////////////////
////// Custom Variables /////////////////////////
////////////////////////////////////////////////

//---------
// Colors
//---------

$primary:			#4183d7;
$secondary:			#f9690e;





//----------
// Navbar
//----------

$navbar-height:		80px;