.home{
	padding: 15px;
}

.toy-cards{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
	padding-top: 50px;
}

.toy-card{
	margin-bottom: 50px;

	.thumbnail-image{
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: auto 100%;
		height: 150px;		
	}
}