.modal-dialog{
	@media(min-width: $screen-sm-min){
		width: 75%;

		.modal-content{
			padding: 20px 30px 50px 30px;
		}
	}

	.modal-content{
		.close{
			font-size: 45px;
		}

		.toy-photo{
			padding-top: 20px;

			img{
				left: 50%;
				max-width: 70%;
				position: relative;
				transform: translateX(-50%);
			}

			@media(max-width: $screen-xs-max){
				margin-bottom: 40px;
			}
		}

		p{
			font-size: 1.15em;
			line-height: 24px;
			margin-top: 20px;
		}

		.purchase-link{
			display: block;
			margin-top: 10px;
		}
	}
}