.detail-modal{
	background: white;
	box-shadow: 1px 10px 25px #555;
	left: 50%;
	padding: 30px;
	position: fixed;
	top: 15%;
	transform: translate(-50%);

	.detail-modal-inner{
		position: relative;
		overflow: scroll;
	}
}