<div class="home" ng-controller="SearchController">
	<div class="container">
		<input type="text" ng-model="searchTerm" ng-model-options="{ debounce: 500 }" placeholder="Find a toy...">
		<br>
	</div>

	<div class="container toy-cards">
		<div class="col-xs-12 col-sm-4 col-md-3 toy-card" ng-repeat="toy in toys">
			<div class="thumbnail-image" style="background: url('{{toy.thumbnailImage}}');"></div>
			<h5>{{toy.name}}</h5>
			<b>${{toy.salePrice}}</b>
			<img src="{{toy.customerRatingImage}}" alt="">
			<p>{{toy.shortDescription | limitTo: 100 }}...</p>
		</div>
	</div>
</div>