<div class="home-logged-in">
	<div class="intro-section">
		<h1>Welcome {{profile.name}}!</h1>
		<p>The Toy Tracker App will help you keep track of toys that you want, or already have. It will also help you find new Toys you didn't even know were out there! Go to the <a href="#/dashboard">Dashboard</a> page to save information about you, and then start searching. Have fun!</p>
	</div>
	<div class="steps">
		<div class="col-sm-4 step">
			<div class="step-inner">
				<h2>1. Search</h2>
				<p>Search for the toys you want. Go to the <a href="#/search">Search</a> page and type in the name of a character, show, movie or anything else you like.</p>
			</div>
		</div>
		<div class="col-sm-4 step">
			<div class="step-inner">
				<h2>2. Wishlist</h2>
				<p>If you like a Toy and don't currently have it, click "Add to Wishlist". This toy will be saved for your to keep track of until you decide to buy it.</p>
			</div>
		</div>
		<div class="col-sm-4 step">
			<div class="step-inner">
				<h2>3. My Toys</h2>
				<p>If you already have a Toy in the list, click "Have it". This will help you keep track of the toys you already own, under the My Toys section.</p>
			</div>
		</div>
	</div>
</div>