<div class="home">
	<div class="container intro-section">
		<div class="panel col-sm-6 col-sm-offset-3" style="margin-top: 50px;" ng-controller="AuthController as authCtrl"> 
			<h2>Log In</h2>
			<div ng-show="authCtrl.error">
			  <span>{{ authCtrl.error.message }}</span>
			</div>
			<form ng-submit="authCtrl.login()">
		    	<input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
		    	<input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
			  	<input type="submit" value="Log In">
			</form>
			<a href="#/register">Don't have an account? Register!</a>
		</div>
	</div>
</div>