<div class="search" ng-controller="SearchController">	
	<div class="intro-section">
		<h1>Search for Toys</h1>
		<input class="col-xs-12 col-md-6 col-md-offset-3" type="text" ng-model="searchTerm" ng-model-options="{ debounce: 300 }" placeholder="Find a toy..." select-on-click>
		<br>
	</div>

	<div class="loader" ng-show="loading">
		<h5>Searching for {{searchTerm}}...</h5>
		<br>
		<i class="fa fa-refresh fa-spin fa-3x fa-fw spin-animate"></i>
	</div>

	<div class="toy-cards-container" ng-hide="loading">
		<div class="adding" ng-class="{'in': addingToy}" ng-show="addingToy">
			<h4><i class="fa fa-cog fa-spin fa-fw"></i> Adding toy to wishlist...</h4>
		</div>
		<div class="adding got-it" ng-class="{'in': haveToy}" ng-show="haveToy">
			<h4><i class="fa fa-cog fa-spin fa-fw"></i> You got it! Awesome!</h4>
		</div>
		<toy-card></toy-card>
	</div>
	<toy-detail></toy-detail>
</div>