<div class="search" ng-controller="SearchController">
	<div class="container intro-section">
		<h1>Find New Toys</h1>
		<input class="col-xs-12 col-md-6 col-md-offset-3" type="text" ng-model="searchTerm" ng-model-options="{ debounce: 500 }" placeholder="Find a toy..." select-on-click>
		<br>
	</div>

	<div class="loader" ng-show="loading">
		<h5>Searching for {{searchTerm}}...</h5>
		<br>
		<i class="fa fa-refresh fa-spin fa-3x fa-fw spin-animate"></i>
	</div>

	<div class="container toy-cards-container" ng-hide="loading">
		<toy-card></toy-card>
	</div>
</div>